.key-features-container{
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.custom-text-light {
    color: #adadad; /* Helle Textfarbe Ihrer Wahl */
  }
  

  .about-bottom-middle {
    grid-column: 2;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    
    padding-top: 32px;
    padding-bottom: 32px;
   
  }