.about-container{

}





.about-top-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    padding-top: 80px;

    height: 90vh;
    box-sizing: border-box;
}

.about-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 100px;
  }

  .about-bottom-middle {
    grid-column: 2;
    text-align: center;
  }

.about-left{
    width: 50vw;
    padding: 24px;
}

.about-right{
    width: 50vw;
    padding: 24px;
}

.crypto-status{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.padding-right{
    padding-right: 24px;
}


@media (max-width: 850px) {


    .about-top-box{
        margin-top: 64px;
        margin-bottom: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-right{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
  
  }

  @media (max-width: 450px) {


    .about-top-box{
        margin-top: 100px;

    }
    
  
  }