.about-container{

}

.about-top-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    padding-top: 80px;

    height: 90vh;
    box-sizing: border-box;
}

.about-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 36px;
  }

  .about-bottom-middle {
    grid-column: 2;
    text-align: center;
  }

.about-left{
    width: 50vw;
    padding: 24px;
}

.about-right{
    width: 50vw;
    padding: 24px;
}

.crypto-status{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}

.padding-right{
    padding-right: 24px;
}