.why-us-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.why-us-left{
    width: 100%;
    display: flex;
}

.why-us-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.w-50-p{
width: 50vw;

}

.custom-text-light {
    color: #adadad;
  }

  ul {
    padding: 0;
  }
  
  ul li {
    padding-left: 0;
  }

  @media (max-width: 850px) {
    .why-us-left{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .why-us-right{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card{
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }