body {
    padding: 0;
    margin: 0;
  }



  .navbar-container {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85); /* 50% transparent */
    transition: background-color 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  

  .about{
  width: 100%;
  background-image: url('../public/assets/img/hero-bg-1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 200px;
  padding-right: 120px;
  padding-left: 120px;
  }
  

.product-container {
    display: flex;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.shopping-card{
    width: 25vw;
}

.main-container{
    display: flex;

}

.footer {
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
  }
  

  .copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
  }

@media (max-width: 850px) {
    .product-container {
        flex-direction: column;
    }

}